@import '../../scss/variable';

#about{
     height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,$bgColor, white);
    display: flex;
    justify-content: center;

}
.wrapper-about{
    padding-bottom:32px;
    padding-top: 128px;
}
@media only screen and (max-width: 879px) {
    .wrapper-about{
       
        
    }
}